<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/user">
    <p th:text="${error}" th:if="${error != null}"></p>
    <div>
        <label>Username
            <input type="text" name ="username" th:value="${username}">
        </label>
    </div>
    <div>
        <label>E-mail
            <input type="email" name ="email" th:value="${email}">
        </label>
    </div>
    <div>
        <label>Password
            <input type="password" name ="password">
        </label>
    </div>
    <div>
        <label>Verify Password
            <input type="password" name ="verify">
        </label>
    </div>
    <div>
        <label>
            <input type="submit" name ="Sign Up">
        </label>
    </div>
</form>
</body>
</html>